<div>
  <div class="d-flex">
    <div class="vw-50 vh-100" id="cover">
      <img src="icons/LogoWhite.svg" id="cover-logo" />
    </div>
    <div
      class="vw-50 vh-100 d-flex justify-content-center align-items-center bg-black container px-5"
    >
      <div id="home-cta-div">
        <img src="icons/LogoWhite.svg" width="50px" />
        <div class="py-4 my-4">
          <span class="title-family display-3 text-white text-bold"
            >Happening now</span
          >
        </div>
        <div class="my-4">
          <span class="title-family h2 text-white">Join Twitter today.</span>
        </div>
        <div class="d-flex flex-column my-4">
          <a class="login-button login-button-primary" href="/signup"
            >Sign up</a
          >
          <a class="login-button" href="/login">Log in</a>
        </div>
      </div>
    </div>
  </div>
</div>
