<div class="d-flex flex-column align-items-center bg-black vh-100 text-white">
  <div class="title-family py-4" id="login-title">
    <a href="/">
      <img src="icons/LogoWhite.svg" width="40px" class="py-2" />
    </a>
    <h2 class="pt-4">Log in to Twitter</h2>
  </div>
  <form id="login-form">
    <div class="mb-3 form-input">
      <label for="login-email" class="form-label">Email address</label>
      <input type="email" class="form-control shadow-none" id="login-email" />
    </div>
    <div class="mb-3 form-input">
      <label for="login-password" class="form-label">Password</label>
      <input
        type="password"
        class="form-control shadow-none"
        id="login-password"
      />
    </div>
    <button
      type="submit"
      class="login-button login-button-primary"
      id="login-form-submit"
    >
      Log in
    </button>
  </form>
</div>
